body{
    padding: 0px;
    background-color: rgba(35,36,45,255);
    color:white;
  }
.styling{
    width: 720px;
    height: 440px;
    margin: 0 auto;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 20px;
    border-radius: 12px;
    font-family: Lato;
}
.styling h2{
  text-align: center;
}
.ok{
  color: white;
    background-color: rgba(35,36,45,255);
    border: none; 
    border-width: 0px; 
    box-shadow: none;
    line-height: 35px;
    width: 120px;
    font-size: large;
    font-weight: 100;
}
.ok1{
  border-width: 0.5px;
  border-radius: 2.7px;
  color: white;
  border-color: whitesmoke;
  background-color: rgba(35,36,45,255);
  width: 150px;
  font-size: large;
  font-weight: 100;
  line-height: 25px;
}
td, th {
  padding: 10px;
}
.button {
  font-size: 25px;
  margin-left: 300px;
  background-color: rgb(0, 123, 255);
  font-size: 1.4rem;
  padding: 0.4rem 1rem;
  font-weight: 400;
  color: white;
  outline: none;
  border: 2px solid rgba(0, 174, 255, 0.739);
  border-radius: 3px;
}
.button:hover {
  background-color: rgb(0, 89, 255);
}
